<a href="https://colab.research.google.com/github/HarshithaNalla/FML-LAB/blob/main/Univariate(Ridge_reg).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_absolute_error,r2_score,mean_squared_error

In [ ]:
company=pd.read_csv("/content/company.csv")
company

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3   12.0
3    151.5   41.3       58.5   16.5
4    180.8   10.8       58.4   17.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1   14.0
197  177.0    9.3        6.4   14.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   18.4

[200 rows x 4 columns]

In [ ]:
company.describe()

               TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   15.130500
std     85.854236   14.846809   21.778621    5.283892
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   11.000000
50%    149.750000   22.900000   25.750000   16.000000
75%    218.825000   36.525000   45.100000   19.050000
max    296.400000   49.600000  114.000000   27.000000

In [ ]:
x1=company.drop('Sales', axis=1).values
y=company['Sales'].values

In [ ]:
x1.shape,y.shape

((200, 3), (200,))

In [ ]:
x=x1[:,0]
x.shape

(200,)

In [ ]:
x=x.reshape(-1,1)
y=y.reshape(-1,1)

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=42)

In [ ]:
x_train.shape,x_test.shape

((150, 1), (50, 1))

In [ ]:
reg=Ridge(alpha=0.1)
reg.fit(x_train,y_train)

Ridge(alpha=0.1)

In [ ]:
y_pred=reg.predict(x_train)

In [ ]:
print(f'MAE = {mean_absolute_error(y_train, y_pred)}')
print(f'MSE = {mean_squared_error(y_train, y_pred)}')
print(f'RMSE = {np.sqrt(mean_squared_error(y_train, y_pred))}')
print(f'R_2 = {r2_score(y_train, y_pred)}')

MAE = 1.8203818678653265
MSE = 5.136151288979574
RMSE = 2.2663078539729713
R_2 = 0.811194552365141

In [ ]:
y_predict=reg.predict(x_test)

In [ ]:
print(f'MAE = {mean_absolute_error(y_test, y_predict)}')
print(f'MSE = {mean_squared_error(y_test, y_predict)}')
print(f'RMSE = {np.sqrt(mean_squared_error(y_test, y_predict))}')
print(f'R_2 = {r2_score(y_test, y_predict)}')

MAE = 1.8651146932431981
MSE = 5.513351238063669
RMSE = 2.3480526480604453
R_2 = 0.797187690115188